@media (width <= 48em) {
    .background {
        background-image: url(../assets/img/sobrenatural-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 5rem;
        & header {
            & nav {
                & a {
                    margin-top: 3rem;
                    display: none;
                }
            }
        }
    }
}




@media (width >= 48em) and (width <= 64em) {
    .background {
        padding-bottom: 10rem;
        & header {
            & nav {
                justify-content: space-between;
                & a {
                    & img:nth-child(1) {
                    width: 10rem;
                    margin-top: -2rem;
                    display: none;
                }
                & img:nth-child(2) {
                    width: 20rem;
                    margin-top: -1.9rem;
                    display: none;
                }
                }
            }
        }
    }
}

@media (width >= 80em) {

     .background {
            background-image: url(../assets/img/sobrenatural.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            padding-bottom: 5rem;
        & header {
            & nav {
                justify-content: space-between;
                & a {
                    & img:nth-child(1) {
                        display: none;
                        width: 10rem;
                        margin-top: -2rem;
                    }
                    & img:nth-child(2) {
                        width: 20rem;
                        margin-top: -1rem;
                }
                }

                & .navigation {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 2rem;

                    & a {
                        display: initial;
                        width: fit-content;
                        position: relative;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-family: 'poppins', sans-serif;
                        font-size: 1.25rem;
                        font-weight: 600;
                        align-items: center;
                        margin-top: -.7rem;

                        &:hover::after {
                            transform: scaleX(1);
                        }
                        
                        &::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: #FF6D0C;
                            position: absolute;
                            bottom: -5px;
                            left: 0;

                            transform: scaleX(0);
                            transition: transform 0.2s linear;

                            box-shadow: 0 0 5px 2px rgba(255, 109, 12, 0.8);
                        }
                    }
                }
            }
        }
    }

}