#hero {
    & h1 {
        margin-top: 9rem;
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-size: 2.3rem;
        font-weight: 900;
        color: white;

        & span {
            justify-content: center;
            color: #FF6D0C;
        }
    }

    & span:nth-child(2) {
        margin-bottom: 8rem;
        display: flex;
        justify-content: center;
        font-family: 'poppins', sans-serif;
        font-size: 1.3rem;
        font-weight: 800;
        color: white;
        
    }

    & a {
        display: block;
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.15);
            background-color: #FF6D0C;
            box-shadow: 0 0 15px 5px rgba(255, 109, 12, 0.7);
        }
    }
}

@media (width >= 48em) and (width <= 64em) {
    
    #hero {
        & h1 {
            margin-top: 9rem;
            font-size: 4.5rem;
        }

        & span:nth-child(2) {
            margin-bottom: 8rem;
            font-size: 1.8rem;
        }

        & a {
            font-size: 1.5rem;
        }
    }
}

@media (width >= 80em) {
    
    #hero {
        & h1 {
            margin-top: 16rem;
            font-size: 5rem;
        }

        & span:nth-child(2) {
            margin-bottom: 13rem;
            font-size: 2rem;
        }

        & a {
            font-size: 1.3rem;
        }
    }
}