#leadership {
    background-color: #FFFFFF;

    & h1 {
        margin-top: 5rem;
        font-family: 'poppins', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
        color: #34261F;
    }

    & p {
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-family: 'roboto', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        text-align: justify;
        color: #5C5C5C;
    }

    & img {
        display: block;
        margin: auto;
        width: 21rem;
    }
}

@media (width >= 48em) and (width <= 64em) {
    #leadership {
        background-color: #FFFFFF;

        & h1 {
            margin-top: 5rem;
            font-family: 'poppins', sans-serif;
            font-weight: 800;
            font-size: 3em;
            text-align: justify;
        }

        & p {
            margin-top: 1rem;
            margin-bottom: 3rem;
            font-family: 'roboto', sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            text-align: center;
        }

        & img {
            display: block;
            margin: auto;
            width: 35rem;
        }
    }
}

@media (width >= 80em) {
    #leadership {
        background-color: #FFFFFF;

        & h1 {
            margin-top: 25rem;
            font-family: 'poppins', sans-serif;
            font-weight: 800;
            font-size: 4em;
            text-align: left;
            top: 15rem;
        }

        & p {
            margin-top: 2rem;
            margin-bottom: 3rem;
            font-family: 'roboto', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            max-width: 55rem;
            text-align: start;
            top: 35rem;
        }

        & img {
            display: block;
            width: 50rem;
            margin-top: -40rem;
            margin-right: -25rem;
            transform: translateX(-50%);
        }
    }
}