* {
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
}

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 90%;
    box-sizing: border-box;
    margin-inline: auto;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: initial;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    max-width: 14rem;
    margin: auto;
    background-color: #00000059;
    border-radius: 3rem;
    padding: 1rem;
}

.title {
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#qrContainer {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

#qrContainer.show {
  max-height: 500px; /* valor maior que a altura do QR */
  opacity: 1;
}

#qrContainer img {
  margin-top: 5rem;
  display: block; /* pra margem funcionar certinho */
}

@media (width >= 48em) { 

    .container {
        width: 100%;
        max-width: 90%; 
        margin-inline: auto;
    }

    .btn {
    max-width: 20rem;
    margin: auto;
    background-color: #00000059;
    border-radius: 3rem;
    padding: 1.6rem;
}

}

@media (width >= 80em) {

    .container {
        width: 100%;
        max-width: 90%;
        margin-inline: auto;
    }

    .desktop-only {
        display: initial;
    }

    .mobile-only {
        display: none;
    }

}